.form-page {
  background: $dark-blue; 
  width: 100vw;
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
}

.center {
  margin: 0 auto;
  width: 50vw;
}

.submit {
  @extend .center;
  button {
    width: auto;
  }
}

.form {
  @extend .center;
  border-radius: 20px;
  color: $black;
  padding: 1em;
  height: 85vh;
  box-sizing: border-box;
  background: $white;
  h1 {
    padding-left: 0;
    padding-top: 0;
  }
  label {
    margin: 0.2em 0 0.2em;
  }
}

.submitted {
  @extend .form;
  .image {
    width: 100%;
    text-align: center;
  }
}

textarea {
  margin-top: 1em;
  margin-bottom: 1em;
  color: $black;
  font-size: 1em;
  width: 100%;
  height: 200px;
  resize: none;
}

.member-feedback {
  margin-top: 1em;
  padding: 0.5em;
}

.feedbacks {
  height: 70%;
  overflow: scroll;
}

.submit {
  margin-top: 1em;
}
