h1 {
  margin: 0;
  padding: 0.5em;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hand:hover {
  cursor: pointer;
}

.right {
  float:right;
}

.warning:hover {
  color: $red;
}

.success:hover {
  color: $green;
}

.hide {
  display: none;
}

.selected {
  border-left: 6px solid $light-blue;
}
