h1 {
  margin: 0;
  padding: 0.5em;
}

.hand:hover {
  cursor: pointer;
}

.right {
  float:right;
}

.warning:hover {
  color: red;
}

.success:hover {
  color: green;
}

.hide {
  display: none;
}

.selected {
  border-left: 6px solid #1b98f8;
}
