.left-nav {
  background: $dark-blue;
  color: white;
  height: 100vh;
  width: 250px;
  input {
    color: $black;
  }
  header {
    margin: 1em;
  }
  .pure-menu {
    height: 60%;
    overflow: scroll;
  }
  .pure-menu-link {
    border-left: 1em $dark-blue solid;
    &:hover {
      background: $blue;
      .hide {
        display: inline;
      }
    }
  }
}
