.left-nav {
  background: $dark-blue;
  color: $white;
  height: 100vh;
  min-width: 220px;
  input {
    color: $black;
  }
  header, footer {
    margin: 1em;
    button {
      margin-bottom: 1em;
    }
  }
  footer { 
    button {
      display: block;
      margin-top: 1em;
    }
    a {
      text-decoration: none;
    }
  }
  .pure-menu {
    height: 50%;
    overflow: scroll;
  }
  .pure-menu-heading {
    color: $deep-blue;
  }
  .pure-menu-link {
    &:hover {
      background: $blue;
      .hide {
        display: inline;
      }
    }
  }
}
